@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* *Fonts*
Headings - Playfair
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.playfair-<uniquifier> {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

Sub Headings - EB Garamond
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

Main Text - Montserrat
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
/* *Colour Palette*

Text - #3C2313 - Bistre
Background - #FDF5E6 - Old lace
Main 1 - #D2B48C - Tan
Main 2 - #0E4749 - Midnight green
Accent - #D7A498 - Melon
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FDF5E6;
    color: #3C2313;
    line-height: 1.5;
}
.img-backdrop {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
    min-height: 450px;
    margin: 20px 0;
    /* margin-bottom: 20px; */
    /* text-align: center; */
}
.img-backdrop h2, .img-backdrop h4{
    /* background-color: #D7A498; */
    max-width: none;
    color: #3C2313;
    backdrop-filter: blur(10px);
}
.sub-heading {
    font-style: italic;
    font-weight: 725;
}
#welcome{
    background-image: url('coffee-shop2.jpg');
}
#customers {
    background-image: url('3drinks.jpg');
}
#about{
    background-image: url('cinnamon_roll2.jpeg');
}
#contact {
    background-image: url('cafe-sign.jpg');
}
#welcome h2, #welcome h4 {
    color: #D7A498;
    backdrop-filter: blur(80px);
}
#customers h2, #about h4{
    color: #df8d7b;
    backdrop-filter: blur(80px)
}
#about h2, #about h4{
    color: #D7A498;
}
#contact h2, #contact h4{
    color: #D7A498;
}
.navbar {
    background-color: #D2B48C;
    box-shadow: 0px 2px 2px #6e5f4a;
    height: 80px;
    max-width: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: auto; 
    max-height: 90px;
    image-rendering: crisp-edges;
}
.nav-links {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 590px;
    padding: 5px;

    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #0E4749;
    text-align: right;
} 
.nav-links a{
    color: #0E4749;
    text-decoration: none;
    padding: 8px;
}
.nav-links a:hover {
    color: #3C2313
}
/* header {
    background-color: #D7A498;
    color: #3C2313;
} */
html {
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3C2313;
    border-radius: .5rem;
    padding: .5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.arrow span{
    color: #D7A498;
    font-size:1rem;
    transition: 0.2 ease-out;
}

.arrow:hover{
    background-color: #D7A498;
    color: #D7A498;
}
.arrow:hover span {
    transform: translateY(-4px);
    color: #3C2313;
    font-size: 2rem;
    transition: .5s ease-out;
}
.review {
    display: flex;
    justify-content: space-between;
}
.box{
    /* flex: grow; */
    min-width: 225px;
    /* max-height: 350px; */
    background-color: #D7A498;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0px 2px 2px #6e5f4a;
    padding: 15px 20px;
}
.box:hover{
    transform: translateY(-15px);
    transition: 2s ease-out;
}
.menu {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
}
.menu-2 {
    text-align: center;
}
.format {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img{
    max-width: 100%;
    height: auto;
    width: 500px;
    border-radius: 50%;
    padding: 20px;
}
#double-item img{
    max-width: 45%;
    border-radius: 50%;
    padding: 5px;
}
#single-item img{
    max-width: 35%;
    border-radius: 50%;
    padding: 5px;
}
.left-box{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}
/* Upcoming Events Section Starts */
.containter {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('cafe-lamp.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.event-row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
}
.col h2 {
    color: #D7A498;
    /* font-size: 100px; */
}
.col p{
    color: #FDF5E6;
    font-size: 16px;
    line-height: 15px;
}
.col button{
    width: 180px;
    color: #3C2313;
    font-size: 16px;
    padding: 12px 0;
    background: #D7A498;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 15px;
    margin-left: 30px;
    /* align-items: center; */
}
.card {
    width: 250px;
    height: 280px;
    display:inline-table;
    border-radius: 10px;
    padding: 25px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url('latte2.jpg');
}
.card2{
    background-image: url('mic.jpg');
}
.card3{
    background-image: url('tart.jpg');
}
.card4{
    background-image: url('book-brew.jpg');
}
.card:hover {
    transform: translateY(-10px);
}
.card h4{
    font-size:larger;
    color: #FDF5E6;
    text-shadow: 5px 5px 5px #000;
}
.card p{
    color: #FDF5E6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.614), 0 0 1em #000, 0 0 0.1em #000000;
}
/* Upcoming Events Section Ends */
fieldset {
    margin: 20px;
    padding: 5px 20px;
    border: solid #D7A498;
    border-radius: 20px;
    min-width: 450px;
    /* max-width: 450px; */
}
legend{
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 24px;
    padding: 5px;
}
label{
    display: block;
    margin-top: 10px;
    padding-top: 8px;
    font-family: "Montserrat", sans-serif;
    /* font-size: 16px; */
}
label:first-of-type{
    margin-top: 0px;
}
input{
    padding: 8px;
    border: 2.2px solid #D7A498;
    font-family: "Montserrat", sans-serif;
}
input[type="email"], input[type="text"] {
    width: 100%;
}
select {
    padding: 8px;
    border: 2.2px solid #D7A498;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
textarea{
    font-family: "Montserrat", sans-serif;
    min-height: 200px;
    min-width: 100%;
    padding: 8px;
    border: 2.2px solid #D7A498;
}
input[type="submit"] {
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    background-color: #D7A498;
    color: #3C2313;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.opening-hours {
    margin: 10px auto;
}
#opening-hours {
    display: flex;
    justify-content: center;
}
.row {
    display: table;
    max-width: 450px;
    width: 80%;
    margin: 10px auto;
    font-family: "Montserrat", sans-serif;
    background: transparent;
    padding: 5px 0;
    color: #3C2313;
    font-size: 14px;
    box-shadow: 0 1px 4px 0 #6e5f4a;
}
.cell {
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #D7A498;
    vertical-align: middle;
}
iframe {
    height: 300px;
    width: 100%;
    padding-bottom: 10px;
}
.address{
    text-align: center;
    font-weight: 550;
}
.address a{
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #3C2313;
}
.address a:hover {
    color: #D7A498;
}
.delivery img{
    align-items: center;
    width: 150px;
    height: auto;
    padding: 8px;
    margin: 0 5px;
    border-radius: 25%;
}
.brand-logo {
    display: flex;
    justify-content: center;
}
a {
    color: #D7A498;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
}
a:hover {
    color: #6e5f4a;
}
a:visited{
    color: #0E4749;
}
h1 {
    font-family: "Playfair", serif;
    display: flex;
    text-align: center;
}
h2 {
    font-family: "Playfair", serif;
    margin: 10px;
    font-size: 40px;
    text-align: center;
}
h3 {
    font-family: "EB Garamond", serif;
    margin: 10px;
    padding-top: 15px;
    font-size: 24px;
    text-align: center;
}
h4 {
    font-family: "EB Garamond", serif;
    margin: 10px;
    font-size: 18px;
    text-align: center;
}
h5 {
    font-family: "EB Garamond", serif;
    margin: 10px;
    text-align: center;
}
p {
    font-family: "Montserrat", sans-serif;
    margin: 10px;
    font-size: 16px;
    text-align: center;
}
.nav-socials {
    background-color: #D2B48C;
    max-width: none;
    padding: 10px;
}
footer {
    background-color: #0E4749;
    padding: 20px;
    color: #D7A498;
    text-align: center;
    font-style: italic;
}
@media screen and (max-width: 600px) {
    .logo img{
            width: 100%;
            max-height: auto;
        }
    .navbar{
            height: 100%;
            max-width: none;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }
        .nav-socials{
            height: 100%;
            max-width: none;
            padding: 10px;
            display: flex;
            justify-content: center;
        }
    .nav-links {
        flex-direction: column;
        align-items: center;
        }
    .review {
        display: flex;
        flex-wrap: wrap;
    }
    .containter {
        width: 100%;
        height: 300vh;
    }
    .card {
        width: 50%;
        height: auto;
    }
    fieldset {
        margin: 20px;
        padding: 5px 20px;
        border: solid #D7A498;
        border-radius: 20px;
        width: 90%;
    }
}